<!DOCTYPE html>
<html>
<head>
	<title>Malware Detector</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>



	<div class="container">
			<section class="header">
					<h2>HackElites <span>ANALYZER</span></h2>
			</section>

			<section class="content">

					<p>We help you detect potentially malicious websites</p>

					<form action="/" method="post">
						
						<input type="text" name="mal" size="50" placeholder="Enter the website url here" required="required">
						<br><br>
						<input type="submit" value="Scan URL" name="">

					</form>

			</section>

			<section class="footer">
					<h3>HackElites Sandbox URL Analyzer &copy 2023</h3>
			</section>

	</div>

</body>
</html>